*{
  margin-top: 0px;
  padding: 0px;
}

header{
  background-color: beige;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

header nav{
  display: flex;
  gap: 1.1em;
}
